* {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

header h1 {
    text-align: center;
    margin: 1em 0;
    font-family: "Oswald", sans-serif;
}

.maincontent {
    margin-top: 2rem;
    justify-content: center;
}

.grid-contents {
    display: grid;
    grid-template-columns: 300px 600px;
    gap: 1em;
    justify-content: center;
}

.grid-item-left {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.grid-item-left:hover {
    background-color: rgb(220, 220, 220);
}

.grid-items-left img {
    object-fit: cover;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 10%;
    margin-right: 10px;
}

.image-container img {
    width: 600px;
    height: 700px;
    object-fit: cover;
    align-self: center;
    border-radius: 20px;
}

.active {
    color: white;
    background-color: blue;
}

.active:hover {
    color: white;
    background-color: blue;
}

input {
    margin-top: 10px;
    margin-bottom: 30px;
    border: 0px;
    width: 100%;
    font-size: 20px;
    align-content: center;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .grid-contents {
        grid-template-columns: 300px auto;
    }

    .image-container img {
        width: 47vw;
        height: 58vw;
    }
}

@media only screen and (max-width: 800px) {
    .grid-contents {
        grid-template-columns: 400px;
        grid-template-rows: 40vh auto;
    }

    .grid-item-left {
        margin-left: 10px;
        margin-right: 10px;
    }

    .image-container img {
        width: 400px;
        height: 600px;
        border-radius: 10px;
    }

    .grid-items-left {
        overflow: scroll;
        border: 2px solid rgb(139, 139, 139);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}